@font-face {
  font-family: neuebit;
  src: url("../fonts/PPNeueBit-Bold.otf");
}

body {
  text-align: center;
  background-color: black;
  color: #07c32c;
  background-image: url("../images/grid.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
  font-family: "neuebit", sans-serif;
}

.game-over p {
  font-size: 33px !important;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.inner p {
  font-size: 22px;
}

.inner img {
  min-width: 500px;
  max-width: 700px;
  z-index: 1;
  -webkit-animation: float 2s ease infinite;
  animation: float 2s ease infinite;
}

img.splash {
  width: 70%;
  max-width: 90%;
  position: absolute;
  z-index: 0;
  -webkit-animation: float 2s ease infinite;
  animation: float 2s ease infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.blink {
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body h1 {
  font-size: 80px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

body button {
  font-size: 30px;
  background-color: #000;
  color: #07c32c;
  padding: 10px 20px 6px;
  border: 2px solid #07c32c;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 25px;
  font-family: "neuebit", sans-serif;
}

.footer {
  display: table;
  position: absolute;
  width: 100%;
  bottom: 10px !important;
}

#canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #07c32c;
  background-image: url("../images/canvas-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}
